*{
    padding: 0;
    margin: 0;
}
.first, .right, .second{
    display: flex;
}
.first{
    padding: 1rem;
   
    color: white;
    background-color: red;
    justify-content: space-between;
}
h1{
    cursor: pointer;
}
.right button{
    margin-right: 1.2rem;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 300;
    align-items: center;
    font-size: 1rem;
   
}

.second{
    justify-content: center;
    padding: 1.2rem;
    background-color: rgb(162, 159, 159);
}
.second > .se > button{
    background-color: red;
    color: white;
    padding: 0.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
.second > .se > input{
    width: 20vw;
    max-width: 60%;
    border-radius: 0.4rem;
    padding:0.2rem ;
    margin-right: 0.8rem;
}

.hero{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   background-image: url(./asset/image\ copy\ 3.png);
   
   background-repeat: no-repeat;
    background-size: cover;
   


   color: white;
}
.hero > button{
    background-color: red;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 1.2rem;
    margin-top: 1rem;
   cursor: pointer;
}
.hero > h1{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.movies > h1{
    color: black;
    text-align: center;
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.op{
    height: 400px;
}
.imgt{
    border-radius: 2rem;
}
.main_card{
    display: flex;
    overflow: scroll;
}
.card
{
    padding: 1rem;
    background-color: rgb(218, 215, 211);
    border-radius: 2rem;
    cursor: pointer;
    margin-left: 1rem;
}
.card:hover{
    box-shadow: 3px 3px 3px grey;
}
.card > h3{
    text-align: center;
    padding-top: 1.2rem;
    font-size: 2rem;
    font-weight: 900;
    
}
.bot > img{
    max-width: 80%;
    border-radius: 3rem;
    
}
.bot{
    text-align: center;
    margin-top: 2rem;
}
@media (max-width:600px){
    .first{
        flex-direction: column;
        align-items: center;
    }
    .right{
        display: flex;
        flex-direction: column;
        margin-top: 1.2rem;
    }
    .main_card{
        flex-direction: column;
        gap: 0.5rem;
    }
}